* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";

  }

.bd{
    display: flex;
    height: 100vh;
    background-size: cover;
}
.body{
    background-color:#F6F6F2;
    background-size:cover;
}
.grid-container{
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
    grid-template-areas: 
        'classes sent '
        'classes sent '
        'received students '
        'received students ';
    
}
.classes{
    grid-area: classes;   
    border-right: 5px solid #403F3D;
    min-height: 50vh;
}
.received{
    grid-area:received;
    border-right: 5px solid #403F3D;
    border-top: 5px solid #403F3D;
    height:50vh;
}
.students{
    grid-area:students;
}
.sent{
    grid-area:sent;
}
.search{
    grid-area:search;
    align-content:'center';
    max-height: 100px;
}
h3{
    color:#338888;
    font-family:'Inter';
    font-size: 28;
    font-weight:100;
    margin:20px;
}
h2{
    text-align:center;
    padding: 10px;
}
.left-header{
    text-align:center;
}

.form{
    background-color: #fff;
    width: 80%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: 'stretch';
    margin: 10px;
}

.rectangle-right{
    display: 'flex';
    width: 95%;
    height: 50px;
    background-color: #F6F6F2;
    justify-content: 'center';
    margin: 16px;
    border-color: #BDD2B6;
    border-style: solid;
    border-width: 2px;

}
.rectangle-left{
    display: 'flex';
    width: 90%;
    height: 50px;
    background-color: #F6F6F2;
    margin: 16px;
    text-align: 'center';
    border-color: #BDD2B6;
    border-style: solid;
    border-width: 2px;
}

.search-button{
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
svg{
    color:'white';
    fill: 'currentColor';
    width: 45px;
    height: 45px;
    padding: 10px;
}
input{
    border: 0;
    outline: 0;
    height:44px;
    width:100%;
}

p{
    font-size: small;
    color: #65B3B8;
    text-align: center;
}
button{
    float: right ;
    color: #26272D;
    width: 60px;
    height: 53%;
    border-radius: 5px;
    color:  #F6F6F2;
}

Link{
    color: inherit;
    text-decoration: none !important;
}