body{
    background-color:'#F6F6F2';
    background-size:'cover';
}

.text{
    width:'65%';
}

img{
    width:100%;
}

.about-content {
    color: black;
    font-size: 20px;
}

.about-group {
    padding-left: 20%;
    padding-right: 20%;
}
