/* Set default font and font size for the body */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    }
    
    /* Set background color for the body */
    body {
    background-color: #F6F6F2;
    }
    
    /* Set up grid layout for the container */
    .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
    "side to"
    "side bo";
    }
    
    /* Style the left container area */
    .container_left {
    grid-area: side;
    text-align: center;
    padding-top: 20%;
    padding-left: 20%;
    }
    
    /* Style the top container area */
    .container_top {
    grid-area: to;
    padding-left: 20%;
    padding-top: 8.5%;
    height: auto;
    }
    
    /* Style the bottom container area */
    .container_bottom {
    grid-area: bo;
    padding-left: 20%;
    padding-top: 20%;
    height: auto;
    }
    
    /* Style the requests box */
    .requests {
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: auto;
    }
    
    /* Style the button */
    .butn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }

    
    /* Style the button on hover */
    .butn:hover {
    background-color: #388e3c;
    opacity: 0.8;
    }
    
    /* Style the request details */
    .request-details p {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background-color: #f3f6f2;
    border-radius: 20px;
    }
    
    /* Style the request details button */
    .request-details button {
    margin-right: 8px;
    }
    
    /* Style the top header */
    .top-header {
    color: black;
    font-size: 24px;
    font-weight: bold;
    }
    
    .accepted_requests {
        background-color: #bdd2b6;
        border-radius: 10px;
        padding: 10px;
        height: auto;
        width: auto;
        margin-right: 20%;    
        transition: 0.5s background-color, 0.5s box-shadow;
    }

    .accepted_requests:hover {
        background-color: #BADFE7;
        box-shadow:0 0 10px 10px #dedede;
    }
    
    .rejected-requests {
        background-color: #bdd2b6;
        border-radius: 10px;
        padding: 10px;
        height: auto;
        width: auto;
        margin-right: 20%;
        transition: 0.5s background-color, 0.5s box-shadow;
    }

    .rejected-requests:hover {
        background-color: #BADFE7;
        box-shadow:0 0 10px 10px #dedede;
    }

    #requestTransition{
        background-color: #bdd2b6;
        transition: 0.5s background-color, 0.5s box-shadow;
    }
    #requestTransition:hover {
        background-color: #BADFE7;
        box-shadow:0 0 10px 10px #dedede;
    }
    .accepted, .request-details {
        margin-bottom: 50px;
    }
    .request-label{
        color: black;
    }
    
    